									/*phgwpi APPS*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}
    
   body 
   {
    font-family: 'jurademibold'; 	
     color:#94404a;  
   	background-color: #eeedf0;
    text-align: center;
    border:5px inset #ffff00;
    border-radius: 10px;
    border-bottom: none;
    margin: 50px;
    height: 500px;
   }
    
   
    header{margin-top: 50px;}  
    nav{margin-top: 70px;}
    footer{margin-top: 350px;}  
    
    ul{margin-top: 10px;} 
    li{color: #000;}


     
    a{text-decoration: none;}
    
    .bo,#bo{
     	padding: 25px;
     	border-radius: 10px;
     	border:1px outset #ffff00;
    	background: #e3ca8a;
   	color: #000;       
   }
    .bo:hover,#bo:hover{
    	       background: #e5ffcc;
    	       color:  #990019;
    	       border-radius: 5px;
    	       } 
    	       
         #bouumbral,#boubanca,#boubeneficio,{margin-top: 20px;}   
                                      #bouiva {margin-top: 70px;}            	
         #campoumbral,#campobanca,#campobeneficio{margin-top: 20px;
                                                  margin-bottom:20px; }
                                        #campoiva{margin-top: 40px;} 
         #camponumber{
         	          font-family: 'jurademibold'; 
         	          font-size: 2em;	
     	                background-color: transparent;
     	                border:1px inset #94404a;
     	                border-radius: 5px;
     	                height: 50px;
     	                width: 200px;
     	                text-align: center;
     	                margin: 2px;     	                                     
                 }
     #campoword{     	         
     	           background-color: transparent;  
     	           font-family: 'jurademibold';  
     	            width: 400px;   
     	            height: 100px;	
     	            margin-top:20px;           
                }  
                
                #resuliva{     	         
     	           background-color: transparent;  
     	           font-family: 'jurademibold';  
     	            width: 300px;   
     	            height: 20px;	
     	            font-size: 1.1em;	     	                     
                }                        

   @font-face {
    font-family: 'jurademibold';
    src: url('tipolucro/jura-demibold-webfont.eot');
    src: url('tipolucro/jura-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('tipolucro/jura-demibold-webfont.woff2') format('woff2'),
         url('tipolucro/jura-demibold-webfont.woff') format('woff'),
         url('tipolucro/jura-demibold-webfont.ttf') format('truetype'),
         url('tipolucro/jura-demibold-webfont.svg#jurademibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
         
   
   @media screen and (max-width: 600px) { 
     body{margin: 10px;}
     .bo{display: block;
         width: 120px;
         margin: auto;
         margin-bottom: 2px;}
     footer{margin-top: 80px;}
      }
   
   @media screen and (max-width: 450px) { 
       body{margin: 5px;
            border:1px inset #ffff00; }
       #campoword{width: 290px;}
    }
    
    @media screen and (max-width: 318px) { 
     #bo{
     	display: block;
     	width: 200px;
     	margin: auto;
      margin-bottom: 2px;}

      #resuliva,#campoword{  
               width: 200px;   
     	         font-size: 0.8em;}        
      
    }
  
